.catalog {
	&__category {
		color: $main-color;
		margin-top: 15px;
		font-size: 30px;
		font-weight: 700;
	}
	&__list {
		margin: 0 -37px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
