.navbar {
	width: 70%;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		color: #181b1e;
		text-decoration: none;
		border: 2px solid $main-color;
		border-radius: 20px;
		padding: 3px 10px;
		font-size: 17px;
		font-weight: 500;
		&:hover {
			background-color: #a8a9aa;
			border-color: #a8a9aa;
		}
		&_active {
			background-color: $main-color;
			color: white;
			&:hover {
				background-color: $main-color;
				border-color: $main-color;
				color: white;
			}
		}
	}
}
